@import "../../styles/effects";
@import "../../styles/colors";

.block {
    display: flex;
    flex-direction: column;
    padding: 16px;
    box-shadow: $blockShadow;
    border-radius: 16px;
    background-color: $white;
}