@import '../../styles/colors';
@import '../../styles/breakpoints';

.user {
    &__profile-sidebar {
        display: flex;
        flex-direction: column;
        & > div:not(:first-child) {
            margin-top: 16px;
        }
    }

    &__work-status {
        margin: 0;
    }

    &__task-number {
        color: $blue;
        font-weight: 600;
    }

    &__profile-block {
        position: relative;
    }
     
    &__create-button {
        margin-top: 48px;
        margin-bottom: 24px;
    }

    &__settings-button {
        position: absolute;
        top: 12px;
        right: 12px;
    }

    &__block-title {
        display: flex;
        justify-content: space-between;
    }
    
    &__wallet-bottom {
        margin-top: 16px;
        justify-content: space-between;
        align-items: center;
    }

    &__wallet-controls {
        margin-top: 12px;
    }

    &__money-count {
        margin: 0;
        font-weight: 600;
    }

    &__main > div:not(:first-child) {
        margin-top: 16px;
    }
    
    &__inv-label {
        margin-bottom: 16px;
    }

    &__inv {
        display: grid;
        grid-template-columns: 1fr 1fr;

        // @include large-screen {
        //     & {
        //         grid-template-columns: 1fr 1fr 1fr;
        //     }
        // }

        gap: 12px;
    }

    &__nick {
        padding-right: 12px;
    }

    &__name {
        color: $blue;
    }

    &__friends {
        margin-top: 12px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    &__friends > svg {
        margin-right: 8px;
    }
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}